.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  background: rgb(42,42,42);
  background: linear-gradient(0deg, rgba(42,42,42,1) 0%, rgba(29,29,29,1) 51%, rgba(0,0,0,1) 100%);
  border-top: 1px solid rgb(0, 0, 0);
  color: aliceblue;
}

.footer div {
  margin-bottom: 1em;
}

.footer ul {
  list-style-type: none;
  margin: auto;
}

.contact {
  display: flex;
  justify-content: space-evenly;
}

.contact h4 {
  margin: auto;
}

.technologies_implemented {
  display: flex;
  justify-content: space-evenly;
}

.technologies_implemented h4 {
  margin: auto;
}