/* .navbar {
  
} */

.ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: 14px 16px;
  justify-content: space-evenly;
  border: 1px solid black;
  background: rgb(42,42,42);
  background: linear-gradient(0deg, rgba(42,42,42,1) 0%, rgba(29,29,29,1) 51%, rgba(0,0,0,1) 100%);
}




.ul li a {
  
  text-align: center;
  padding: 14px 16px;
  border: 1px solid black;
  text-decoration: none;
  color: white;
}

.ul li a:hover {
  border-color: burlywood;
  background-color: rgba(202, 196, 196, 0.274);
}