.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    grid-area: 1 / 2 / 3 / 5;
    margin-top: 2em;
}

.cards {
    grid-area: 3 / 1 / 6 / 6;
}